# <center> STATS 607 - LECTURE 3
## <center> 09/12/2018

# <center> Lists

Lets create a list again for exemplification. This time, a list with string numbers.

In [1]:
strNumbers = ['One','Two','Three','Four'] # Creates the list.
strNumbers

['One', 'Two', 'Three', 'Four']

In [2]:
strNumbers.append('Five') # Append an element to the list.
strNumbers

['One', 'Two', 'Three', 'Four', 'Five']

In [3]:
strNumbers.extend(['Six','Seven']) # Extends the list with elements from an iterable object.
strNumbers

['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven']

In [4]:
strNumbers[len(strNumbers):]=['Eight','Nine','Ten'] # Just another way of doing the above.
strNumbers

['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']

In [5]:
strNumbers.insert(0, 'Zero') # Inserts an element at position given by index.
strNumbers

['Zero',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine',
 'Ten']

In [6]:
del strNumbers[6] # Removes an element at position given by index.
strNumbers

['Zero',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Seven',
 'Eight',
 'Nine',
 'Ten']

In [7]:
strNumbers.remove('Eight') # Removes an element.
strNumbers

['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Seven', 'Nine', 'Ten']

In [8]:
output=strNumbers.remove('Seven') # Removes an element.
strNumbers

['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Nine', 'Ten']

In [9]:
print(output) # Note that the 'remove' operator does not return anything.

None

In [10]:
strNumbers.pop() # Removes the last element in the list.
strNumbers

['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Nine']

In [11]:
output = strNumbers.pop() # Removes the last element in the list.
strNumbers

['Zero', 'One', 'Two', 'Three', 'Four', 'Five']

In [12]:
print(output) # Notice this is the removed element from the list.

Nine

In [13]:
strNumbers.pop(2) # You can also use pop to remove an element at a specific position.
strNumbers

['Zero', 'One', 'Three', 'Four', 'Five']

In [14]:
strNumbers.index('One') # You can also retrieve the indexes of elements in the list.

1

In [15]:
strNumbers.index('Four',2,4)

3

In [16]:
strNumbers.count('Three') # Counts elements in the list with value given by its argument.

1

In [17]:
strNumbers.sort()
strNumbers

['Five', 'Four', 'One', 'Three', 'Zero']

In [18]:
strNumbers.reverse() # Reverse list.
strNumbers

['Zero', 'Three', 'One', 'Four', 'Five']

Now lets see what happens if we create a new variable and assign it to an existing list. Note that to create a copy of the list you will have to use appropriate operators.

In [19]:
anotherStrNumbers = strNumbers

In [20]:
anotherStrNumbers[0]=0

In [21]:
strNumbers # You see this result because you are actually modifying the same object.

[0, 'Three', 'One', 'Four', 'Five']

In [22]:
anotherStrNumbers = list(strNumbers)

In [23]:
anotherStrNumbers[1]=3

In [24]:
print(anotherStrNumbers)
print(strNumbers) # Note that no modification was made for this object.

[0, 3, 'One', 'Four', 'Five']
[0, 'Three', 'One', 'Four', 'Five']

In [25]:
anotherStrNumbers = strNumbers[:] # Another way to create a copy of the list object.

In [26]:
anotherStrNumbers[1]=3

In [27]:
print(anotherStrNumbers)
print(strNumbers) # Note that no modification was made for this object as well.

[0, 3, 'One', 'Four', 'Five']
[0, 'Three', 'One', 'Four', 'Five']

In [28]:
anotherStrNumbers = strNumbers.copy() # Yet another way to get a copy of the list object.

In [29]:
anotherStrNumbers[1]=3

In [30]:
print(anotherStrNumbers)
print(strNumbers) # Note again that no modification was made for this object.

[0, 3, 'One', 'Four', 'Five']
[0, 'Three', 'One', 'Four', 'Five']

You can use lists to implement stacks (last-in / first-out) or queues (first-in / first-out). However lists are not efficient for the later purpose. We are going to start by creating two functions, one that adds and removes an element to the end of the list and another one that adds and removes an element to the beginning of the list. The first argument of both these functions is a sequence. The second argument is the number of times one would like those adds and removes repeated.

In [31]:
def append_pop(mySeq, n):
    """ Append and pop an element at the end of mySeq n times."""
    
    for i in range(n):
        mySeq.append(-1)
        mySeq.pop()
        
def insert_pop(mySeq, n):
    """ Insert and pop an element at the beginning of mySeq n times ."""
    
    for i in range(n):
        if not type(mySeq) is deque:
            mySeq.insert(0,-1)
            mySeq.pop(0)
        else:
            mySeq.appendleft(-1)
            mySeq.popleft()

We are also going to define a function to print the time taken to run each of the functions above. For the purpose, we'll use the time function from the time module.

In [32]:
def get_run_time(numbers):
    """ Prints the time taken to run append_pop and insert_pop functions."""
    startTime = time.time()
    append_pop(numbers, int(1e6))
    endTime = time.time()
    print('First function took', endTime - startTime, 'seconds to run!')

    startTime = time.time()
    insert_pop(numbers, int(1e6))
    endTime = time.time()
    print('Second function took', endTime - startTime, 'seconds to run!')

Finally, we create a list and test both functions above.

In [33]:
import time
from collections import deque

listNumbers = list(range(5))
print(listNumbers)
get_run_time(listNumbers)
print(listNumbers)

[0, 1, 2, 3, 4]
First function took 0.2748119831085205 seconds to run!
Second function took 0.44170618057250977 seconds to run!
[0, 1, 2, 3, 4]

Now we test 'deque', designed to have fast appends and pops at both ends, so to provide a more efficient queue.

In [34]:
dequeNumbers = deque(range(5)) # Creates a deque object
print(dequeNumbers)
get_run_time(dequeNumbers)
print(dequeNumbers)

deque([0, 1, 2, 3, 4])
First function took 0.14533495903015137 seconds to run!
Second function took 0.2765998840332031 seconds to run!
deque([0, 1, 2, 3, 4])

# <center> Functional programming

Functional programming is about writing pure functions. In other words, we want to remove hidden inputs and outputs (side effects) as far as we can, and write code that only describes the relationship between inputs and outputs. For more, see https://en.wikipedia.org/wiki/Functional_programming.

In [35]:
def greater10(element):
    """This function returns whether element is greater than 10"""
    return element>10

filter(function, sequence) returns those items in a sequence for which function(item) returns True.

In [36]:
list(filter(greater10, range(1,20)))

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [37]:
list(filter(lambda x: x%2==1, range(1,20))) # Creates a list with odd numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

map(function, sequence) return a sequence containing elements obtained by applying function to each element of the sequence.

In [38]:
list(map(lambda x: x.capitalize(), ['one', 'two', 'three']))

['One', 'Two', 'Three']

In [39]:
list(map(lambda x: x.upper(), ['one', 'two', 'three']))

['ONE', 'TWO', 'THREE']

Now lets see one way to create a factorial function and use the map function to return the factorial of elements in an iterable object.

In [40]:
def factorial(n):
    """This function recursively returns the factorial of n."""
    if n==0:
        return 1
    else:
        return n*factorial(n-1)

In [41]:
list(map(factorial,range(0,9)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320]

# <center> List Comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [42]:
squares=[]
for i in range(0,10):
    squares.append(i**2) # Append the square of i to the squares list.
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
i # This is a side effect of the previous for operation.

9

In [46]:
list(map(lambda x: x**2, range(1,10))) # You can have done the same using the map function.

[1, 4, 9, 16, 25, 36, 49, 64, 81]

The following list comprehension is equivalent to the expression above.

In [47]:
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. Now suppose we want to exclude negative numbers from a list. The following are all examples of list comprehensions.

In [49]:
[i for i in range(-5,5) if i>0] # Obtain only the positive numbers from the iterable object.

[1, 2, 3, 4]

In [51]:
[i**2 for i in range(-10,10) if i>0] # Obtain the square of the positive numbers.

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
[i.capitalize() for i in ['one','two','three']]

['One', 'Two', 'Three']

In [53]:
toFlatten=[[1,2,3],[4,5,6],[7,8,9]] 
print(toFlatten)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [55]:
middleElement=toFlatten[1][1] # Obtains the middle element of the bi-dimensional list.
print(middleElement)

5

In [56]:
[j for i in toFlatten for j in i] # Flattens the list.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# <center> Tuples

Tuples are similar to lists but they are immutable objects.

In [57]:
t=('An','example','of','a','tuple') # Creates a tuple.
print(t)

('An', 'example', 'of', 'a', 'tuple')

In [58]:
len(t) # Obtains the number of elements in the tuple.

5

In [59]:
t='An','example','of','a','tuple' # Another way to create a tuple.
print(t)

('An', 'example', 'of', 'a', 'tuple')

In [60]:
t[1] # We can do indexing.

'example'

In [61]:
t[1:] # And also slicing.

('example', 'of', 'a', 'tuple')

In [62]:
t,t # Note that you can have tuples of tuples.

(('An', 'example', 'of', 'a', 'tuple'), ('An', 'example', 'of', 'a', 'tuple'))

In [64]:
t[1][2] # Why is the outcome an 'a'?

'a'

In [67]:
t[0]='An' # You can't modify tuples.

TypeError: 'tuple' object does not support item assignment

In [69]:
t=() # Creating an empty tuple.
print(t)

()

In [70]:
t=14, # Be careful the way you create tuples with one single element.
type(t)

tuple

Note that multiple assignment is really just a combination of tuple packing and sequence unpacking.

In [74]:
x,y,z = 1,2,3
print(x,y,z)

1 2 3

# <center> Sets

A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries.

In [76]:
s={'this','is','a','set','is','a','set'} # Creates a set. Note there are no repeated elements.
print(s)

{'is', 'set', 'a', 'this'}

In [ ]:
len(s)

In [77]:
'this' in s # Test membership.

True

In [79]:
s[0]='This' # You can't do this because order does not matter in a set object.
print(s)

TypeError: 'set' object does not support item assignment

In [81]:
s={} # Be careful the way you create empty sets.
print(type(s))

<class 'dict'>

In [83]:
s=set() # This is the proper way to create an empty set.
print(type(s))
len(s)

<class 'set'>

0

Now lets exemplify some operations on the set. What are the following operations doing?

In [85]:
s1=set('abcdefgh')
s2=set('aeiou')

print(s1 - s2)
print(s1 | s2)
print(s1 & s2)
print(s1 ^ s2)

{'g', 'h', 'd', 'c', 'b', 'f'}
{'g', 'f', 'h', 'i', 'e', 'u', 'd', 'c', 'b', 'o', 'a'}
{'e', 'a'}
{'g', 'h', 'd', 'c', 'o', 'f', 'i', 'u', 'b'}

You can also have comprehensions for sets.

In [88]:
{i for i in 'abcdefgh' if i not in 'abc'}

{'d', 'e', 'f', 'g', 'h'}

# <center> Dictionaries

Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. It is best to think of a dictionary as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).

In [102]:
dic={} # Creates a dictionary (as we have actually seen above).
print(type(dic))

<class 'dict'>

In [103]:
len(dic)

0

In [104]:
dic={'one':1,'two':2,'three':3}
print(dic)

{'one': 1, 'two': 2, 'three': 3}

In [105]:
dic[1] # Note there is no key 1

KeyError: 1

In [106]:
dic['two']

2

You can list both dictionary keys and values.

In [107]:
list(dic.keys())

['one', 'two', 'three']

In [108]:
list(dic.values())

[1, 2, 3]

In [109]:
del dic['two'] # You can also delete values from the dictionary.
print(dic)

{'one': 1, 'three': 3}

In [111]:
'two' in dic # Membership testing also works for dictionaries.

False

You can also create dictionaries using comprehension.

In [117]:
out = {i:i**2 for i in range(1,4)}
print(out)
print(type(out))

{1: 1, 2: 4, 3: 9}
<class 'dict'>

# <center> Some looping techniques

You can loop over tuples.

In [118]:
tuples = [("One", "Two", "Three"), (1,2,3)]
for i, j, k in tuples:
    print(i,j,k)

One Two Three
1 2 3

You can loop over dictionaries.

In [120]:
dic = {'one':1,'two':2,'three':3}
for i, j in dic.items():
    print(i,j)

one 1
two 2
three 3

You can use the enumerate function to obtain index values and values of a list.

In [122]:
for i, j in enumerate(['one', 'two', 'three']):
    print(i,j)

0 one
1 two
2 three

You can also use zip to loop over two or more sequences.

In [124]:
seq1=['One','Two','Three']
seq2=[1,2,3] 
for i,j in zip(sorted(seq1),reversed(seq2)):
    print(i,j)

One 3
Three 2
Two 1